parameters:
	ignoreErrors:
		-
			message: '#^Using nullsafe property access "\?\-\>data" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: Classes/Controller/AbstractActionController.php

		-
			message: '#^Trait Maispace\\MaiBase\\Controller\\Backend\\Traits\\BackendCsvExportTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: Classes/Controller/Backend/Traits/BackendCsvExportTrait.php

		-
			message: '#^Trait Maispace\\MaiBase\\Controller\\Traits\\AppendDataToPluginVariablesTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: Classes/Controller/Traits/AppendDataToPluginVariablesTrait.php

		-
			message: '#^Trait Maispace\\MaiBase\\Controller\\Traits\\DetailActionTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: Classes/Controller/Traits/DetailActionTrait.php

		-
			message: '#^Trait Maispace\\MaiBase\\Controller\\Traits\\FlashMessageTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: Classes/Controller/Traits/FlashMessageTrait.php

		-
			message: '#^Trait Maispace\\MaiBase\\Controller\\Traits\\PageRendererTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: Classes/Controller/Traits/PageRendererTrait.php

		-
			message: '#^Trait Maispace\\MaiBase\\Controller\\Traits\\PaginationTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: Classes/Controller/Traits/PaginationTrait.php

		-
			message: '#^Trait Maispace\\MaiBase\\Controller\\Traits\\ResponseHelpersTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: Classes/Controller/Traits/ResponseHelpersTrait.php

		-
			message: '#^Trait Maispace\\MaiBase\\Domain\\Model\\ListableRecordTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: Classes/Domain/Model/ListableRecordTrait.php
